<h1>Руководство пользователя</h1>

<hr />

<div class="container">
    <div class="row">        
        <div class="embed-responsive embed-responsive-16by9 text-center" >            
            <iframe class="embed-responsive-item" src="~/UserManual.html"></iframe>
        </div>
    </div>
</div>

