@model ImageGallery.ViewModels.MediaViewModels.MediaEditViewModel

@{
    ViewData["Title"] = "Изменение изображения";
}

<link rel="stylesheet" href="~/css/easydropdown.css" />
<link rel="stylesheet" href="~/css/upload-media.css" />

<h1>Изменение изображения в альбоме</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Выберите файл</label>

                    <div class="field__wrapper">
                        <input asp-for="File" type="file" id="field__file-upload" class="field field__file" />
                        <label class="field__file-wrapper" for="field__file-upload">
                            <div class="field__file-fake">Файл не выбран</div>
                            <div class="field__file-button" title="Выбрать изображение">Выбрать</div>
                        </label>
                    </div>

                    <span asp-validation-for="File" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Старое изображение</label>
                    <img src="@("/uploads/" + Model.ImagePath)" width="100%" style="margin-bottom: 15px" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                    <label>Новое изображение</label>
                    <div id="img-preview">

                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Выберите альбом для загрузки</label>
                    <select asp-for="CategoryId" class="dropdown" data-settings="{cutOff: 5}" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Title", Model.CategoryId))"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" title="Сохранить изменения" />
                </div>
            </form>

        </div>
    </div>

    <div>
        <a asp-action="Index">Назад к списку</a>
    </div>
</div>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/js/count-media.js"></script>
<script src="~/js/jquery.easydropdown.js"></script>
<script src="~/js/PreviewImage.js" type="text/javascript"></script>

<script>
    $(function () {
        $("#field__file-upload").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#img-preview");
                dvPreview.html("");
                var regex = /^([а-яА-Яa-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp|.ico)$/;
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = document.createElement("img");
                            img.src = e.target.result;
                            img.style = "width: 100%";
                            img.className = "img-fluid";
                            img.style.marginBottom = "15px";
                            dvPreview.append(img);
                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " данный файл не является изображением.");
                        dvPreview.html("");
                        return false;
                    }
                });
            } else {
                alert("Данный браузер не поддерживает функцию отобажения загружаемых изображений.");
            }
        });
    });
</script>