@model ImageGallery.ViewModels.AccountModel.UserCreateViewModel

@{
    ViewData["Title"] = "Регистрация пользователя";
}

<link rel="stylesheet" href="~/css/easydropdown.css" />
<script src="~/js/jquery.easydropdown.js"></script>

<h1>
    Регистрация нового пользователя
</h1>

<hr />

<div class="container">
    <div class="row">
        <form class="col-md-6 was-validated" asp-action="CreateUser" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <label for="surname" class="col-sm-3 col-form-label">Фамилия</label>
                <div class="col-sm-9">
                    <input asp-for="Surname" type="text" class="form-control is-invalid" id="surname" required autocomplete="off">
                    <span class="text-danger" asp-validation-for="Surname"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Имя</label>
                <div class="col-sm-9">
                    <input asp-for="Name" type="text" class="form-control is-invalid" id="name" required autocomplete="off">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="patronymic" class="col-sm-3 col-form-label">Отчество</label>
                <div class="col-sm-9">
                    <input asp-for="Patronymic" type="text" class="form-control is-valid" id="patronymic" autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="login" class="col-sm-3 col-form-label">Логин</label>
                <div class="col-sm-9">
                    <input asp-for="Login" type="text" class="form-control is-invalid" id="login" aria-describedby="loginHelpBlock" required autocomplete="off">
                    <small id="loginHelpBlock" class="form-text text-muted">
                        Логин должен быть длиной 8-16 символов, содержать только английские буквы и цифры.
                    </small>
                    <span class="text-danger" asp-validation-for="Login"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Пароль</label>
                <div class="col-sm-9">
                    <input asp-for="Password" type="password" class="form-control is-invalid" id="password" aria-describedby="passwordHelpBlock" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Пароль должен быть длиной 8-16 символов, содержать англиские заглавные и прописные буквы, цифры, а также специальные символы.
                    </small>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="role" class="col-sm-3 col-form-label is-valid">Роль пользователя</label>
                <div class="col-sm-9">
                    <select class="dropdown" asp-for="RoleId" asp-items="@(new SelectList(ViewBag.Roles, "Id", "NameRole"))" id="role">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary" title="Зарегестировать пользователя в системе">Зарегестрировать</button>
                </div>
            </div>
        </form>
    </div>
</div>